
<h1>Add New Customer</h1>

<form  #customerForm="ngForm" (ngSubmit)="onSubmit(customerForm)">
     <div class="form-group">
        <label for="name">Name</label>
        <input type="text" id="name" name="name" [(ngModel)]="customer.name" #name="ngModel" minlength="5" placeholder="Customer Name" class="form-control ng-untouched ng-pristine ng-valid" required>
        <div *ngIf="name.errors?.required && name.dirty" class="invalid"> Please enter name.</div>
        <div *ngIf="name.errors?.minlength && name.dirty" class="invalid">Please enter minimum five characters.</div>
     </div>

     <div class="form-group">
      <label for="name">Type</label>
       <select id="type" name="type" [(ngModel)]="customer.type" class="form-control" placeholder="Please select type" #type="ngModel" [value]="" required>
        <option [value]="undefined" [selected]="true">Please select type</option>
        <option *ngFor="let type of customerTypes" [value]="type">{{type}}</option>
       </select>
       <div *ngIf="type.errors?.required && type.dirty" class="invalid">Please select customer type.</div>
   </div>

   <div class="form-group">
     <button type="submit" [disabled]="!customerForm.form.valid" class="btn btn-primary">Save</button>
   </div>
</form>

<app-customer-list [customerData]="customers"></app-customer-list>
